<div class="row" style="height:100%">
  <div class="col-md-6 side-left">
    <div class="texts">
      <h1>Manipal Jaipur<br> Event Planner</h1>
      <p>We help organizations discover, engage and hire top, relevant talent at the right time. Our new innovative
        solution helps hiring teams spot candidates who best fit their requirements and are most inclined to move, and
        engage with them through personalized interactions. </p>
    </div>
    <div class="gradient">

    </div>

  </div>
  <div class="col-md-6 side-right">
    <router-outlet></router-outlet>
    
    
  </div>
</div>
